# =========================================
# ENV
# =========================================

.env

# =========================================
# PYTHON CACHE
# =========================================

__pycache__/
*.pyc
*.pyo
*.pyd

# =========================================
# VENV
# =========================================

venv/

# =========================================
# FIREBASE SECRETS
# =========================================

firebase_key.json
secrets/firebase_key.json

# =========================================
# MACHINE LEARNING
# =========================================

*.pkl

# =========================================
# DATASETS
# =========================================

*.csv

# =========================================
# LOGS
# =========================================

*.log

# =========================================
# DATABASE FILES
# =========================================

*.sqlite3
*.db

# =========================================
# ENV FILES
# =========================================

.env
.env.local
.env.development
.env.production

frontend/.env
backend/.env